name: Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Kubernetes Cluster
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Kubeconfig
        shell: powershell
        run: |
          if (-Not (Test-Path "$HOME\.kube")) {
            New-Item -ItemType Directory -Path "$HOME\.kube" | Out-Null
          }
          $base64 = "${{ secrets.KUBE_CONFIG_DATA }}"
          $bytes = [System.Convert]::FromBase64String($base64)
          [System.Text.Encoding]::UTF8.GetString($bytes) | Out-File "$HOME\.kube\config" -Encoding UTF8

      - name: Verify cluster connection
        shell: powershell
        run: kubectl get nodes

      - name: Clean existing PVC (prevent conflict)
        shell: powershell
        run: |
          kubectl delete pvc mysql-storage-mysql-0 -n three-tier --ignore-not-found --grace-period=0 --force || echo "PVC not found or already deleted"

      - name: Apply Kubernetes manifests
        shell: powershell
        run: kubectl apply -f "./Application-k8s/" -n three-tier --validate=false
